*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)),url("./c1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#addtask{
    background-color: #fff;
    width: 350px;
    padding: 20px 10px;
    border-radius: 10PX;
    margin-bottom: 20px;
    display: flex;
}
input{
    flex: 5;
    padding: 1.2rem;
    border-radius: 10px;
    font-size: 1.8rem;
    font-weight: bold;
    margin-right: 10px;
}
#add {
    flex: 1;
    border-radius: 10px;
    background-color: #fff;
    color:#00ff00 ;
    border: 2px solid #00ff00;
    transition: 0.5s;
}
#add i{
    font-size: 1.2rem;

}

#add:hover{
    background-color: #00ff00;
    color:#fff ;

}

.newtask{
    background-color: #fff;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.newtask li{
    font-size: 1.6rem;
    list-style: none;
    font-weight: bold;
    flex: 6;    
    padding: 1.2rem;
}
.newtask button{
    flex: 1;
    padding: 1.2rem;
    border-radius: 10px;
    margin-right: 5px;
}
.newtask .check{
    background-color: #fff;
    color: orange;
    border: 2px solid orange;
    font-size: 1.2rem;
    transition: .5s;
}

.newtask .delete{
    background-color: #fff;
    color: red;
    border: 2px solid red;
    transition: .5s;
}

.newtask .delete:hover{
    background-color: red;
    color: white;
}
.newtask .check:hover{
    background-color: orange;
    color: white;
}